/* ------------------------- Testimonials Section ------------------ */
.testimonials {
    background-color: black;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3rem;
    min-height: 100vh;
    overflow: hidden;
    position: relative;
}

.green-line {
    width: 30rem;
    height: 1rem;
    background-color: green;
    margin-bottom: 2rem;
}

/* ------------------- Testimonials Slider ------------------- */
.testimonials-slider {
    position: relative;
    max-width: 100%;
    margin: auto;
    overflow: hidden;
}

.testimonials-content {
    display: flex;
    transition: transform 0.5s ease-in-out;
    /* Smooth transition for sliding */
}

.testimonials-item {
    min-width: 100%;
    /* Each testimonial occupies the full width of the container */
    box-sizing: border-box;
    text-align: center;
    padding: 20px;
}

.testimonials-item figure img {
    width: 100px;
    /* Adjust the image size */
    height: 100px;
    object-fit: cover;
    border-radius: 50%;
    margin-bottom: 20px;
}

h4 {
    font-size: 1.3rem;
    margin-bottom: 0.5rem;
}

p {
    font-size: 1rem;
    color: #ddd;
    margin: 0;
}

/* ------------------- Navigation Buttons ------------------- */
.testimonials-navigation {
    position: absolute;
    top: 50%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    transform: translateY(-50%);
    pointer-events: none;
}

.testimonials-navigation button {
    background-color: rgba(0, 0, 0, 0.5);
    /* Slight transparency */
    border: none;
    color: white;
    font-size: 2rem;
    padding: 0.5rem 1rem;
    cursor: pointer;
    border-radius: 50%;
    pointer-events: all;
}

.testimonials-navigation button:hover {
    background: rgba(139, 138, 138, 0.8);
    /* Hover effect */
}